/* Whole app */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  background-color: #f0c999; /*#7c98d2*/
  height: 100vh;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 50px;
}
.navBar {
  background-color: hsl(252, 100%, 16%);
  color: rgb(31, 219, 110);
	border-radius: 10px;
	border: 1px solid hsl(252, 100%, 16%);
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 30px;
	text-decoration: none;
}
#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
#lessonBox {
  display: flex;
  justify-content: center;
}
.tabContent {
  height: 600px;
  width: 800px;
  background-color: #CCC;
  border: 5px solid hsl(252, 100%, 16%);
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablist {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(252, 100%, 16%);
  border-radius: 10px;
  color:white;
}


/* Topic/lesson buttons */

.selection {
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:16px;
	padding:10px 30px;
	text-decoration:none;
}
.selection:active {
	position:relative;
	top:2px;
}
.topicEveryday {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
  border:1px solid hsl(252, 100%, 16%);
}
.topicEveryday:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.topicStudy {
	background:linear-gradient(to bottom, #a14cbb 5%, #4d2459 100%);
	background-color: #a14cbb;
  border:1px solid #112904;
}
.topicStudy:hover {
	background:linear-gradient(to bottom, #4d2459 5%, #a14cbb 100%);
	background-color:#4d2459;
}
.topicTravel {
	background:linear-gradient(to bottom, #3a850e 5%, #204b08 100%);
	background-color: #3a850e;
  border:1px solid #112904;
}
.topicTravel:hover {
	background:linear-gradient(to bottom, #204b08 5%, #3a850e 100%);
	background-color:#204b08;
}
.topicIndustries {
	background:linear-gradient(to bottom, #da4e49 5%, #69201e 100%);
	background-color:#da4e49;
  border:1px solid #3a1210;
}
.topicIndustries:hover {
	background:linear-gradient(to bottom, #69201e 5%, #da4e49 100%);
	background-color:#69201e;
}
.selectionForm {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.topicSelection {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.topicBoxes {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
#topicBoxEveryday {
  justify-content: flex-end;
}
/* #topicBoxStudy {} */
#topicBoxTravel {
  justify-content: center;
}
#topicBoxIndustries {
  justify-content: flex-end;
}
.topicImg {
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px 5px white;
}

/* Saved Words */

.saveWord {
  width: 50px;
  height: 20px;
}

/* Lesson intro */

#lessonHeading {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-style: italic;
}
#lessonPicDiv {
  box-shadow: inset 0px 0px 30px 30px #CCC;
}
#lessonPic {
  width: 600px;
  height: 400px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Word List */


/* Flashcards */

.flashcards {
  width: 100px;
  height: 80px;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
  border: 2px solid #100052;
  padding: 10px;
  color:hsl(252, 100%, 16%);
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.flashcards:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.flashcardsFlip {
  color:white;
}
.wordListBox {
  width: 800px;
  height: 500px;
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Sentences */

.sentences {
  font-size: 40px;
  width: 700px;
  height: 100px;
  text-align: center;
}
.sentenceButton {
  width: 120px;
  text-align: center;
}
.sentenceButtons {
  width: 700px;
  display: flex;
  justify-content: space-evenly
}

/* Tables (Saved/WordList) */

table.blueTable {
  background-color: #EEEEEE;
  width: 600px;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #100052;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 18px;
  color: black;
}
table.blueTable tr:nth-child(even) {
  background: #BEC3D2;
}
table.blueTable thead {
  background: #7C98D2;
  background: -moz-linear-gradient(top, #9db2dd 0%, #89a2d6 66%, #7C98D2 100%);
  background: -webkit-linear-gradient(top, #9db2dd 0%, #89a2d6 66%, #7C98D2 100%);
  background: linear-gradient(to bottom, #9db2dd 0%, #89a2d6 66%, #7C98D2 100%);
  border-bottom: 2px solid #100052;
}
table.blueTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
tr:hover td {
  background-color: cyan;
}

/*  */